%h1 Bienvenido  la pagina
%p esto no me gusta
%p no
%p Entiendo que estamos utilizando Haml
%p Lo que ya reconocio mi hermoso VSCode
%p Es maravilloso
%strong Hola hola !!!
%strong Before we start this tutorial, I want to make one thing clear. After you look at this, go and convert one of your ERB files to Haml. Just try it. Just take the file and start hitting delete. You don’t have to keep the file if you don’t like it, but after you’re done with this tutorial, just try one file. Haml feels odd for the first 20 minutes, but then after that you will be faster.

%p 
  Before we start this tutorial, 
  I want to make one thing clear.
  After you look at this, go and 
  convert one of your ERB files to Haml.
  Just try it. Just take the file and start 
  hitting delete. You don’t have to keep the file if
  you don’t like it, but after you’re done with this
  tutorial, just try one file. Haml feels odd for 
  he first 20 minutes, but then after that you will 
  be faster.

%p 
  hOlA 


-if user_signed_in?
  =link_to "Cerrar sesión",destroy_user_session_path, method: :delete 


   
