.full-height.row.middle-xs.white-text.center-xs.main-background.no-margin{style:"background-color: black"}
  =grid xs:10,sm:8,md:6,lg:4 do 
    .big-padding.blue.text-left.white-text
      %h1.bold.light-blue-text.no-margin Nangux
      %p.no-margin Conecta y conoce a gente de universidades cercanas a la tuya
      y en general de los centros universitarios de tu ciudad
      .top-space
        Aqui va el login 
      .large-padding.text-center
        =link_to "Crear cuenta", new_user_registration_path